flask
celery
redis
python-dotenv
weaviate-client>=3.23.2,<4.0.0
langchain
langchain-community
langchain-ollama
pypdf
python-docx
python-pptx
openpyxl
pandas
werkzeug
python-magic
unstructured
docx2txt
tabulate
gunicorn